/* You can add global styles to this file, and also import other style files */
* {
    color: white;
}
.all-image {
    margin: 4px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    /* font-weight: bold; */
}
body {
    background-color: #3a3b4d;
}